h1 {
  color: blue;
}
h2 {
  color: red;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.container {
  width: 500px;
  height: 200px;
  background-color: black;
}
.container-children {
}

button {
}
